@use '../../common/UI/colors' as *;

.cartDetails {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin: 1rem 0;

    @media (min-width: 768px) {
        flex-direction: row;
        justify-content: space-between;
    }
}

.cartItems {
    flex: 2;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
    padding: 1rem;
    border-radius: 8px;
}

.orderSummary {
    flex: 1;
    padding: 1rem;
    border-radius: 8px;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;

    @media (min-width: 768px) {
        width: 300px;
        height: fit-content;
    }
}

.summaryDetails {
    display: flex;
    justify-content: space-between;
    color: $greyText;

    .summaryLabels {
        p {
            padding: 5px 0;
        }
    }

    .summaryValues {
        text-align: end;

        p {
            padding: 5px 0;
        }
    }
}

.discount {
    color: $limeGreen;
}

.subtotal {
    font-weight: bold;
    color: $black;
    font-size: 18px;
}

.promoCodeContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 1rem 0;
    gap: 1rem;

    input {
        height: 3rem;
        padding: 0.5rem;
        border: 1px solid $formInactiveBorder;
        border-radius: 8px;
        width: 90%;
    }

    input:active,
    input:focus {
        border-color: $formActiveBorder;
        outline: none;
    }

    button {
        color: $black;
        text-align: center;
        vertical-align: center;
        padding: 0.5rem 1rem;
        border: none;
        border-radius: 8px;
        cursor: pointer;
        height: 3rem;
        box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
    }
}

.checkoutButton {
    background-color: $electricOrange;
    color: $textColor;
    width: 100%;
    padding: 0.75rem;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 16px;
    box-shadow: rgba(0, 0, 0, 0.05);
    margin: 1rem 0;
}

.summaryInfoFooter {
    display: flex;
    gap: 10px;
    padding: 10px 0;
}

.orderSummaryTitle {
    font-size: 18px;
    font-weight: 600;
    padding: 10px 0;
}

.emptyCartCntainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    h2 {
        font-size: 24px;
        font-weight: 600;
        padding: 1rem 0;
        text-align: center;
        color: $black;
    }

    p {
        color: $greyText;
        font-weight: 400;
        padding-bottom: 1rem;
        text-align: center;
        font-size: 18px;
    }

    button {
        padding: 12px;
        background-color: $electricOrange;
        color: $textColor;
        border: none;
        border-radius: 8px;
        font-size: 16px;
        cursor: pointer;
        transition: background-color 0.3s ease;
        margin: 1rem 0;

        &:hover {
            background-color: darken($electricOrange, 10%);
        }
    }
}