@use '../../../common/UI/colors' as *;

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;

    p {
        color: $black;
        font-size: 16px;
        font-weight: 500;

        span {
            color: $electricOrange;
            font-weight: 600;
        }
    }
}

.btnContainer {
    outline: 1px solid $formInactiveBorder;
    border-radius: 8px;
    padding: 2px 10px;
    display: flex;
    gap: 0.5rem;
}

.sortModalContainer {
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
    border-radius: 8px;
    padding: 10px;
    background-color: $textColor;
    position: absolute;

    li{
        cursor: pointer;
    }
}