$greyText: #6B7280;
$textColor: #fff;
$green: #388e3c;
$blue: #2a55e5;
$yellow: #ff9f00;
$footerBackgroundColor: #2C2C2C;
$headerBackgroundColor: #3B82F6;
$formError: #DC2626;
$formActiveBorder: #2563EB;
$formInactiveBorder: #D1D5DB;
$black: #000;
$bottomBorder: #D1D5DB;
$greyBackground: #F3F4F6;