@use '../../common/UI/colors' as *;

.container {
    // height: 10rem;
    width: 13rem;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    padding: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.imgWrapper {
    width: 10rem;
    height: 10rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #f5f5f5;
    margin-bottom: 1rem;
    position: relative;

    .heart {
        position: absolute;
        top: 10px;
        right: 10px;
        z-index: 9999;
        cursor: pointer;
    }
}

.productImg {
    width: 10rem;
    height: 10rem;
    // object-fit: contain;
    // object-position: center;
}

.priceContainer {
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
}

.strikeThroughPrice {
    text-decoration: line-through;
    color: $price;
    font-size: 14px;

}

.normalPrice {
    color: $textColor;
    font-size: 16px;
}

.discountPer {
    color: $discountedPrice;
    font-size: 12px;
}