@use '../../common/UI/colors' as *;

.emptyWishlist {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    h2 {
        font-size: 24px;
        font-weight: 600;
        padding: 1rem 0;
        text-align: center;
        color: $black;
    }

    p {
        color: $greyText;
        font-weight: 400;
        padding-bottom: 1rem;
        text-align: center;
        font-size: 18px;
    }

    button {
        padding: 12px;
        background-color: $electricOrange;
        color: $textColor;
        border: none;
        border-radius: 8px;
        font-size: 16px;
        cursor: pointer;
        transition: background-color 0.3s ease;
        margin: 1rem 0;

        &:hover {
            background-color: darken($electricOrange, 10%);
        }
    }
}

.wishlistGrid {
    display: grid;
    gap: 2rem;
    padding: 2rem;
    /* Important */
    grid-template-columns: repeat(auto-fill, 13rem);
    justify-content: center; // centers cards when extra space exists
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
    border-radius: 8px;
}

.title {
    font-size: 24px;
    font-weight: 600;
    text-transform: capitalize;
    padding-bottom: 20px;
    color: $black;
}