@use '../../../common/UI/colors' as *;

.container {
    width: 100%;
}

.checkboxWrapper {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    cursor: pointer;
    position: relative;
    margin: 10px 0;
    font-size: 14px;
    color: $black;
}

.checkboxWrapper input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

.customCheckbox {
    width: 16px;
    height: 16px;
    border: 2px solid $formInactiveBorder;
    border-radius: 4px;
    position: relative;
    transition: all 0.2s ease;
}

.checkboxWrapper input:checked+.customCheckbox {
    background-color: $formActiveBorder;
    border-color: $formActiveBorder;
}

.checkboxWrapper input:checked+.customCheckbox::after {
    content: "";
    position: absolute;
    left: 4px;
    width: 4px;
    height: 9px;
    border: solid $textColor;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
}

.checkboxWrapper:hover .customCheckbox {
    border-color: $formActiveBorder;
}

.customRadio {
    width: 16px;
    height: 16px;
    border: 2px solid $formInactiveBorder;
    border-radius: 50%;
    position: relative;
    transition: all 0.2s ease;
}

.checkboxWrapper input:checked+.customRadio {
    border-color: $formActiveBorder;
}

.checkboxWrapper input:checked+.customRadio::after {
    content: "";
    position: absolute;
    width: 8px;
    height: 8px;
    top: 50%;
    left: 50%;
    background-color: $formActiveBorder;
    border-radius: 50%;
    transform: translate(-50%, -50%);
}

.checkboxWrapper:hover .customRadio {
    border-color: $formActiveBorder;
}

.filterType {
    color: $black;
    font-weight: 600;
    font-size: 14px;
}

.rangeWrapper {
    margin-top: 10px;
}

.rangeValues {
    display: flex;
    justify-content: space-between;
    font-size: 12px;
    margin-bottom: 8px;
    color: $black;
}

.rangeInput {
    width: 100%;
    appearance: none;
    height: 4px;
    background: $formInactiveBorder;
    border-radius: 4px;
    outline: none;
    cursor: pointer;
}

.rangeInput::-webkit-slider-runnable-track {
    height: 4px;
    background: $formInactiveBorder;
    border-radius: 4px;
}

.rangeInput::-webkit-slider-thumb {
    appearance: none;
    width: 16px;
    height: 16px;
    background: $formActiveBorder;
    border-radius: 50%;
    cursor: pointer;
    margin-top: -6px;
}

.rangeInput::-moz-range-thumb {
    width: 16px;
    height: 16px;
    background: $formActiveBorder;
    border-radius: 50%;
    cursor: pointer;
}