@use '../../common/UI/colors' as *;

.container {
    // width: 100%;
    // height: 20rem;
    background-color: $footerBackgroundColor;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    /* default: mobile */
    gap: 2rem;
    padding: 2rem;
    color: $textColor;

    @media (min-width: 640px) {
        grid-template-columns: repeat(2, 1fr);
    }

    @media (min-width: 1024px) {
        grid-template-columns: repeat(4, 1fr);
    }
}

.footerColumn h4 {
    font-size: 1.2rem;
    margin-bottom: 1rem;
}

.footerColumn h1 {
    font-size: 2rem;
    margin-bottom: 1rem;
    text-transform: uppercase;
}

.footerColumn ul {
    list-style: none;
    padding: 0;
}

.footerColumn li {
    margin-bottom: 0.5rem;
    cursor: pointer;
    transition: color 0.2s;
}

.footerColumn li:hover {
    color: $skyBlue;
}

.footerBottom {
    grid-column: 1 / -1; // span all columns
    text-align: center; // center the text
    margin-top: 2rem;
    color: $textColor;
    border-top: 1px solid $bottomBorder;
    margin: 0rem -2rem -2rem;
    padding: 3rem 0;
    opacity: 0.5;
}