@use '../../common/UI/colors' as *;

.container {
    padding: 20px;

    @media (max-width: 480px) {
        padding: 0;
    }
}

.desc {
    font-size: 16px;
    color: $greyText;
    padding-bottom: 20px;
}

.card {
    padding: 1rem;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
    border-radius: 8px;
    margin-bottom: 1rem;
}

.methods {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;

    @media (max-width: 480px) {
        grid-template-columns: repeat(1, 1fr);
        gap: 0;
    }
}

h3 {
    font-weight: 500;
    font-size: 18px;
}

.summary {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 0;
}

.summaryLabels {
    color: $greyText;
    text-align: left;
}

.summaryValues {
    text-align: right;
    color: $greyText;
}

.summaryTotal {
    font-weight: 600;
    color: $black;
    font-size: 22px;
    padding-top: 15px;
}

.placeOrderBtn {
    width: 100%;
    padding: 12px;
    background-color: $electricOrange;
    color: $textColor;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin: 1rem 0;

    &:hover {
        background-color: darken($electricOrange, 10%);
    }
}

.terms {
    font-size: 12px;
    color: $greyText;
    text-align: center;
}

.cardTitle{
    font-weight: 500;
    font-size: 14px;
    padding-top: 15px;
    text-transform: capitalize;
}

.cardText {
    font-size: 14px;
    color: $greyText;
}

.itemContainer {
    @media (max-width: 480px) {
        padding: 0.5rem 0;
    }
}